.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__phone {
    margin-bottom: 4px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contacts__button {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid #FFFFFF;
}

@media (max-width: 1024px) {
    .contacts__phone {
        font-size: 21px;
    }

    .contacts__button {
        font-size: 13px;
    }
}