.footer {
    padding: 45px 0;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo-wrapper {
    display: flex;
    align-items: center;
}

.footer__logo {
    margin-right: 19px;
}

.footer__copyrights {
    max-width: 127px;
    font-size: 12px;
    font-weight: 500;
    line-height: 140.625%;
}

.footer__developer {
    font-size: 12px;
    font-weight: 500;
    line-height: 140.625%;
}