.header {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding-top: 40px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__phone-icon {
    display: none;
}

@media (max-width: 1024px) {
    .header {
        padding-top: 26px;
    }
}

@media (max-width: 320px) {
    .header {
        padding-top: 15px;
    }

    .header__contacts {
        display: none;
    }

    .header__phone-icon {
        display: block;
    }
}